* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    
    background-color: aqua;
    width: 400px;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    border-style: outset;
}

h1 {
    color: blue;
    margin: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xxx-large;
}

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
}

p{
    font-size: 22px;
    margin-bottom: 15px;
}

form div {
    margin-bottom: 10px;
    position: relative;
}
 

form div label {
    font-family: sans-serif;
    font-size: 24px;
    position: absolute;
    margin: 15px 10px 10px 10px;
    transition: 0.5s;
}

.small-text {
    margin-top: 5px;
    font-size: 16px;
}

form div input {
    width: 95%;
    font-size: 24px;
    padding: 20px 10px 10px 10px;
}



.Signin-link { 
    font-size: 20px;
    color: blue;

}


.login-button {
  background-color: rgb(4, 184, 4);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 500;
  height: 60px;
  width: 200px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.login-button:hover,
.login-button:focus {
  background-color: #ff0000;
}
